.card {
  background-color: white;
  box-shadow: 5px 5px 5px gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.clickArea {
  padding: 20px;
}

.name {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.actionBtns {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
